annotated-types==0.6.0
ansible==9.1.0
ansible-core==2.16.2
anyio==4.2.0
asgiref==3.7.2
bcrypt==4.1.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
click==8.1.7
contourpy==1.2.0
cryptography==41.0.7
cycler==0.12.1
distlib==0.3.7
Django==4.2.6
django-environ==0.11.2
dnspython==2.4.2
ecdsa==0.18.0
email-validator==2.1.0.post1
fastapi==0.108.0
filelock==3.13.1
fonttools==4.47.0
h11==0.14.0
idna==3.4
Jinja2==3.1.2
jose==1.0.0
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.2
numpy==1.26.2
packaging==23.2
passlib==1.7.4
Pillow==10.1.0
pipenv==2023.11.15
platformdirs==4.1.0
pyasn1==0.5.1
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
PyMySQL==1.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-jose==3.3.0
python-multipart==0.0.6
PyYAML==6.0.1
requests==2.31.0
resolvelib==1.0.1
rsa==4.9
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.25
sqlparse==0.4.4
starlette==0.32.0.post1
tk==0.1.0
typing_extensions==4.9.0
urllib3==2.0.7
uvicorn==0.25.0
virtualenv==20.25.0
